.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    padding: 17px;
    position: relative;
}

.logo {
    width: 70px; 
    height: auto; 
    position: absolute;
    top: -20px;
    left: -180px; 
}

h1 {
    font-size: 45px;
    margin: 5px; 
}

h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0; 
}

.support-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-top: 20px;
}

.container-direita {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 50%;
    padding: 20px;
    min-height: 90vh; 
    box-sizing: border-box;
    position: relative;
    min-height: -90px;
}
.login-link {
    font-size: 22px;
    text-align: left;
    margin: 0 10px;
    text-shadow: none;
}

.input-field {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 13px auto; 
}

.input-field input {
    width: 100%;
    height: 50px;
    margin: 3px 0;
    background-color: rgba(159, 158, 158, 0.947);
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 5px;
    padding: 15px;
}

.input-field input::placeholder {
    color: #fff;
}

.input-field.inline {
    display: flex;
    gap: 8px;
    width: 100%; 
}

.container-principal button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background-color: #19a312;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-shadow: none;
    margin-top: 20px;
}

.container-direita form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-direita div {
    text-align: center;
}
