*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000000 1px;
  
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-image: url("assets/save-planet-concept-leaves-restore_23-2148512777-removebg-preview.png");
  background-size: cover;
  background-position: center;
}
